:root{
    --divWidth: 0px;
    --divHeight: 0px;
    --leftMargin: 0px;
    --topMargin: 0px;
}


.slideComponent{
    scroll-snap-align: start;
    align-self: center;
    background-color: rgb(34, 151, 253);
    height: var(--divHeight);
    width: var(--divWidth);
    margin-left: var(--leftMargin);
    margin-top: 5%;
}

.slideComponent:nth-child(1){
    margin-top : 1%;
}