.dropdownmenuholder{
    position: relative;
    display: inline-block;
}

.dropDownContents{
    display: none;
    z-index: 1;

    position: absolute;
    bottom: 100%;

    background-color:'white';
}

.dropDownMenuView{
    width: 150px;

    border: solid;
    border-width: thin;

    background-color:'white';

    display: flex;
    flex-direction: row;
}

.UpTriangle{
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 8px solid black;

    position: absolute;
    align-self: center;
    margin-left: 85%;
}

.dropdownmenuholder:hover .dropDownContents {display: block;}