.projectsPage{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: start;

    margin-block-start: 10%;
}

.appHolder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}