.App{
  
}

#buttonHolder{
  
}

.optionButton{
  background-color: rgb(0, 160, 252);
  color: white;
  
  font-weight: bold;
  text-align: center;
  
  border: solid;
  border-width: thin;
  border-color: black;
}

.heldButton{
  width: 50%;
  margin-top: 3px;
}

.nonContainedButton{
  width: 20%;
}

.innerHolder{
  width: 20%;
}

.controlButtonHolder{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  
  padding-left: 5px;

  background-color: black;
}

.controlButton{
  width: 75px;
  margin-left: 20px;
  
  border: 1px inset gray;
  
  text-align: center;
  background-color: white;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap');


.controlButton:hover{
  color: aqua;
  border: 1px inset aqua;
}

.pathFinderTitle{
  background-color: black;
  color: white;

  font-family: 'MuseoModerno', cursive;
}