html{
  overflow: visible;
}

.App {
  text-align: center;
  align-items: center;
  align-self: center;
}

.storage{
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

