#moveUpButton{
    position:-webkit-sticky;
    position:sticky;
    top:0;
}

#moveDownButton{
    position:-webkit-sticky;
    position:sticky;
    bottom: 0;
}

html{
    background-color: rgb(255, 255, 255);
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}