.resumeTab{
    min-width: 100px;
    min-height: 50px;
    
    border-width: 2px;
    border-radius: 25px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    transition:max-height 0.3s ease-out;
}

.arrowImg{
    transition-duration: 500ms;
}
